.bg-home {
    background: linear-gradient(-45deg, #0077c2, #0c47a1, #89a0ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.btn-back {
	background-color: #F5F5F6;
}

.btn-edit {
	background-color: #5472D3;
	color: white;
	width: 30px;
	height: 30px;
	padding: 0px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
}

.btn-back:hover {
	background-color:#5472D3;
	color: white;
	transition: 0.7s;
}

.readonly {
	background-color: #F5F5F6;
}

.readonly:focus {
	background-color: #F5F5F6;
	box-shadow: none;
	border: none;
}

.text-primary {
    color: #5472D3 !important;
}

.text-white {
    color: white !important;
}

.btn-primary{
    background-color: #5472D3;
}

.bg-white {
	background-color: white !important;
}

.bg-light {
	background-color: #F5F5F6 !important;
}

h2 {
    color: #5472D3 !important;
}

.bg-dark {
    color: #0c47a1;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
