.text-primary {
    color: #5472D3 !important;
}

.active{
    background-color:#5472D3 ;
}

.nav-link{
    color: #5472D3;
}

.btn-primary{
    background-color: #5472D3;
}

.bg-light {
    background-color: #F5F5F6 !important;
}

a, i, span, h2 {
    color: #5472D3 !important;
}

.dropdown-item {
    color: #5472D3 !important;
}