.bg-home {
    background: linear-gradient(-45deg, #0077c2, #0c47a1, #89a0ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.text-primary {
    color: #5472D3 !important;
}

.active{
    background-color:#5472D3 ;
}

.nav-link{
    color: #5472D3;
}

.btn-primary{
    background-color: #5472D3;
}

.bg-light {
    background-color: #F5F5F6 !important;
}

a, i, span, h2 {
    color: #5472D3 !important;
}

.dropdown-item {
    color: #5472D3 !important;
}

.bg-dark {
    color: #0c47a1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}