<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-guest-nav shadow">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-2 d-none d-sm-inline">Soleus</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0" routerLink="dashboard">
                            <i class="fs-4 fa fa-address-book-o "></i> <span class="ms-2 d-none d-sm-inline">My Requests</span>
                        </a>
                    </li>
                    <li>
                        <a type="button" class="nav-link px-0 align-middle">
                            <i class="fs-4 fa fa-plus"></i> <span class="ms-2 d-none d-sm-inline">New Request</span> </a>
                                               
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0" routerLink="guests" routerLinkActive="active">
                            <i class="fs-4 fa fa-info-circle"></i> <span class="ms-2 d-none d-sm-inline" >Info</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div type="button" class="dropdown pb-4 " dropdown [dropup]="isDropup">
                    <a class="d-flex align-items-center text-primary text-decoration-none dropdown-toggle"  dropdownToggle aria-controls="dropdown-dropup">
                        <i class="fs-1 fa fa-user"> </i>
                        <span class="fs-5 ms-2 d-none d-sm-inline mx-1">{{user.roomNumber}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small text-primary shadow" id="dropdown-dropup" *dropdownMenu role="menu" aria-labelledby="button-dropup">
                        <li><a class="dropdown-item" href="#">Edit Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


