<section class="bg-home">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-white text-primary" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <form class=" mt-md-4 pb-5"  autocomplete="off">
  
                <h2 class="fw-bold mb-5">Recover your account</h2>  

                <app-text-input [formControl]="$any(forgotPasswordForm.controls['roomNumber'])" 
                      [label]="'Room Number'"></app-text-input>  
  
                <app-text-input [formControl]="$any(forgotPasswordForm.controls['guestName'])" 
                      [label]="'Guest Name'"></app-text-input>  

                <app-text-input [formControl]="$any(forgotPasswordForm.controls['password'])" 
                      [label]="'New Password'" [type]="'password'"></app-text-input>
  

                <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary btn-lg px-5" type="submit" (click)="forgotPassword()">Send</button>
                <button class="ms-3 btn btn-back btn-lg px-5" type="button" routerLink="/">Back</button>
  
              </form> 
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>