<div class="bg-white ">
    <h2 class="ms-3 pt-2">Rooms</h2>
</div>

<div class="container-fluid mt-5">
    <table class="table  bg-white">
      <thead>
        <tr>
          <th scope="col" class="tableFilter" (click)="setSort(0)">Room Number</th>
          <th scope="col" class="tableFilter" (click)="setSort(1)">Guest Name</th>
          <th scope="col" class="tableFilter" (click)="setSort(2)">Check-In</th>
          <th scope="col" class="tableFilter" (click)="setSort(3)">Check-Out</th>
          <th scope="col" class="tableFilter" (click)="setSort(4)">Room Requests</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms"  routerLink="./{{room.roomNumber}}">
          <td>{{room.roomNumber}}</td>
          <td>{{room.guestName}}</td>
          <td>{{room.checkInDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{room.checkOutDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{room.roomRequests}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    
