<div class="bg-white ">
    <h2 class="ms-3 pt-2">{{user.roles}} Dashboard</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 mt-5 mx-3">

    <div class="col" routerLink="../roomrequests/pending">
      <div [ngClass]="{
        'card-success': pendingRequests < 5,
        'card-warning': pendingRequests >= 5 && pendingRequests < 10,
        'card-danger': pendingRequests >= 10
      }" class="card shadow">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">{{pendingRequests}} <i class="ms-3 fa fa-bell-concierge"></i></h1>
            <hr>
            <h5 class="card-text float-end me-1">Pending Requests</h5>
          </div>
        </div>
      </div>

    <div class="col">
        <div class="card shadow card-info">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">{{myRequests}} <i class="ms-3 fa fa-briefcase"></i></h1>
            <hr>
            <h5 class="card-text  float-end me-1">My Requests</h5>
          </div>
        </div>
      </div>

      <div class="col" routerLink="../roomrequests/ended">
        <div [ngClass]="{
          'card-info': pendingRequests === 0,
          'card-danger': pendingRequests < 5,
          'card-warning': pendingRequests >= 5 && pendingRequests < 10,
          'card-success': pendingRequests >= 10
        }" class="card shadow">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">{{completedRequests}} <i class="ms-3 fa-solid fa-flag-checkered"></i></h1>
            <hr>
            <h5 class="card-text  float-end me-1">Completed Requests</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div [class]="getClassByTimestamp(averageTimePerRequest)" class="card shadow">
          <div class="card-body">
            <h1 *ngIf="averageTimePerRequest; else noAverage" class="card-title ps-3 ms-3">{{averageTimePerRequest}}<i class="ms-3 fa-regular fa-clock"></i></h1>
            <ng-template #noAverage>
              <h1 class="card-title ps-3 ms-3">No data<i class="ms-3 fa-regular fa-clock"></i></h1>
            </ng-template>
            <hr>
            <h5 class="card-text  float-end me-1">Average Time</h5>
          </div>
        </div>
      </div>    

      
  </div>