.card-title {
  font-size: 2.3rem;
}

.card {
  cursor: pointer;
  max-width: 17rem;
  color: white;
}

.card-success {
  background: linear-gradient(90deg, #67a36e, #9ad18c);
}

.card-warning {
  background: linear-gradient(90deg, #ffa600, #ffcc80);
}

.card-danger {
  background: linear-gradient(90deg, #b00020, #f07275);
}

.card-info {
  background: linear-gradient(90deg, #5c6bc0, #8e99f3);
}
