<div class="bg-white ">
    <h2 class="ms-3 pt-2">{{user.roles}} Dashboard</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 mt-5 mx-3">

    <div class="col">
        <div class="card request-card shadow card-success">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">15 <i class="ms-3 fa fa-bell-concierge"></i></h1>
            <hr>
            <h5 class="card-text float-end me-1">Today Requests</h5>
          </div>
        </div>
      </div>

    <div class="col">
        <div class="card request-card shadow card-warning">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">15 <i class="ms-3 fa fa-briefcase"></i></h1>
            <hr>
            <h5 class="card-text  float-end me-1">My Requests</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card request-card shadow card-danger">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">15 <i class="ms-3 fa-solid fa-flag-checkered"></i></h1>
            <hr>
            <h5 class="card-text  float-end me-1">Completed Requests</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card request-card shadow card-info">
          <div class="card-body">
            <h1 class="card-title ps-3 ms-3">15 <i class="ms-3 fa-regular fa-clock"></i></h1>
            <hr>
            <h5 class="card-text  float-end me-1">Average Time</h5>
          </div>
        </div>
      </div>
    
  </div>